
de_dsa_tagger/
dsa_names.txt
dsa_dnames.txt
de_dsa_tagger/attribute_ruler/patterns
de_dsa_tagger/config.cfg
de_dsa_tagger/lemmatizer/cfg
de_dsa_tagger/lemmatizer/model
de_dsa_tagger/lemmatizer/trees
de_dsa_tagger/meta.json
de_dsa_tagger/morphologizer/cfg
de_dsa_tagger/morphologizer/model
de_dsa_tagger/ner/cfg
de_dsa_tagger/ner/model
de_dsa_tagger/ner/moves
de_dsa_tagger/parser/model
dsa_ner_dev.spacy
dsa_ner_train.spacy
dsa_pos_training.spacy
dsa_ner_model_clean/attribute_ruler/patterns
dsa_ner_model_clean/config.cfg
dsa_ner_model_clean/entity_ruler/cfg
dsa_ner_model_clean/entity_ruler/patterns.jsonl
dsa_ner_model_clean/lemmatizer/cfg
dsa_ner_model_clean/lemmatizer/model
dsa_ner_model_clean/lemmatizer/trees
dsa_ner_model_clean/meta.json
dsa_ner_model_clean/morphologizer/cfg
dsa_ner_model_clean/morphologizer/model
dsa_ner_model_clean/ner/cfg
dsa_ner_model_clean/ner/model
dsa_ner_model_clean/ner/moves
dsa_ner_model_clean/parser/cfg
dsa_ner_model_clean/parser/model
dsa_ner_model_clean/parser/moves
dsa_ner_model_clean/senter/cfg
dsa_ner_model_clean/senter/model
dsa_ner_model_clean/tagger/cfg
dsa_ner_model_clean/tagger/model
dsa_ner_model_clean/tok2vec/cfg
dsa_ner_model_clean/tok2vec/model
dsa_ner_model_clean/tokenizer
dsa_ner_model_clean/vocab/key2row
dsa_ner_model_clean/vocab/lookups.bin
dsa_ner_model_clean/vocab/strings.json
dsa_ner_model_clean/vocab/vectors
dsa_ner_model_clean/vocab/vectors.cfg
umap_timeline.gif
umap_timeline2.mp4
fantasy_model/checkpoint-66/config.json
fantasy_model/checkpoint-66/model.safetensors
fantasy_model/checkpoint-66/optimizer.pt
fantasy_model/checkpoint-66/rng_state.pth
fantasy_model/checkpoint-66/scheduler.pt
fantasy_model/checkpoint-66/special_tokens_map.json
fantasy_model/checkpoint-66/tokenizer.json
fantasy_model/checkpoint-66/tokenizer_config.json
fantasy_model/checkpoint-66/trainer_state.json
fantasy_model/checkpoint-66/training_args.bin
fantasy_model/checkpoint-66/vocab.txt
fantasy_model/config.json
fantasy_model/model.safetensors
fantasy_model/special_tokens_map.json
fantasy_model/tokenizer.json
fantasy_model/tokenizer_config.json
fantasy_model/training_args.bin
fantasy_model/vocab.txt
